/**************************

*insert nikka t domain name here*

Author: Victoria Jones
victoria-jones-design.com
victoria.j.art@gmail.com

Date Last Modified: 3/5/2021

**************************/
/**************************/
/****** imports only ******/
/**************************/
/** VARIABLES **/
/** MIXINS **/
/** FUNCTIONS **/
/**********************

REM sizing used for styling
base size:  1rem = 10px

def:
- base browser sizes at 16px 
- changed to 62.5% to equal 10px
- conversions are (desired px size)/16px
    - change to percent

**********************/
/** BASE **/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: #1e1e1e;
}

/** TYPOGRAPHY **/
body {
  font-family: "Newsreader", serif;
  line-height: 1.7;
  font-size: 1.6rem;
  color: #fff;
}

/** UTILITIES **/
/** ANIMATIONS **/
/** main nav **/
.nav-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  margin-top: 2rem;
}
.nav-main__logo {
  position: relative;
  z-index: 1;
  height: 12rem;
  filter: drop-shadow(0 0.3rem 0 #1e1e1e) drop-shadow(-0.3rem 0 0 #1e1e1e) drop-shadow(0.3rem 0 0 #1e1e1e);
}
.nav-main__bar {
  width: 100%;
  position: relative;
  top: -9rem;
  height: 0.8rem;
  background-image: linear-gradient(to right, transparent 5%, #8d6e30 40%, #d0a348, #e4bf67, #f2d978, #fff7da, #f2d978, #e4bf67, #d0a348, #8d6e30 60%, transparent 95%);
}

/** logo **/
.logo {
  position: relative;
  width: 72rem;
  height: 72rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo__img {
  width: 55rem;
  margin-top: 4rem;
}
.logo__description {
  display: flex;
  font-size: 5.5rem;
  font-family: "Teko", sans-serif;
  line-height: 1;
  margin-right: 3rem;
  text-stroke: 0.15rem #000;
  -webkit-text-stroke: 0.15rem #000;
}
.logo__description--1 {
  text-align: right;
}
.logo__description--bar {
  background-color: white;
  width: 0.5rem;
  margin: 0 1rem;
  border: 0.15rem solid #000;
}
.logo__img, .logo__description {
  z-index: 2;
}
.logo__glow {
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  width: 0;
  height: 0;
  box-shadow: 0 0 40rem 12rem #d0a348;
}

/** img border boxes **/
.borderbox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 38rem;
  height: 38rem;
  transform: rotate(45deg);
}
.borderbox--1, .borderbox--2 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d0a348;
}
.borderbox--1::after, .borderbox--2::after {
  content: "";
  position: relative;
  width: 98%;
  height: 98%;
  background-color: black;
}
.borderbox--1 {
  width: 100%;
  height: 100%;
}
.borderbox--2 {
  width: 94%;
  height: 94%;
}

/** grids **/
.container {
  display: grid;
  grid-template-rows: 10rem repeat(2, maxcontent) 20rem;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

.nav-main,
.header,
.main,
.footer {
  grid-column: 1/-1;
}

.nav-main {
  grid-row: 1;
}

.header {
  grid-row: 1/2;
}

.main {
  grid-row: 3;
}

.footer {
  grid-row: 4;
}

/** header **/
.header {
  height: 100vh;
  background-color: #000;
}