/**********************

REM sizing used for styling
base size:  1rem = 10px

def:
- base browser sizes at 16px
- changed to 62.5% to equal 10px
- conversions are (desired px size)/16px
    - change to percent

**********************/
/** BASE **/
//browser reset
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;   //1rem = 10px
    scroll-behavior: smooth;

    @media screen and (prefers-reduced-mothion: reduce) {
        scroll-behavior: auto;
    }
}

//browser reset
body {
    box-sizing: border-box;
    //no longer browser reset
    background-color: $color-grey-dark;
}

/** TYPOGRAPHY **/
body {
    font-family: $font-primary;
    line-height: 1.7;
    font-size: $default-font-size;
    color: $color-white;
}

.bold-copy {
    color: $color-primary-gold;
    font-family: $font-display;
    font-size: $display-font-size-med;
    line-height: 1.2;
    &::after {
        content: "";
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        background-color: $color-primary-gold;
        transform: rotate(45deg);
        margin: 2rem auto;
    }

    @include respond(tab-land) {
        text-align: center;
    }
}

.p__copy,
.p__bold {
    &:not(:last-child) {
        margin-bottom: 2rem;
    }
}

.header-2 {
    text-transform: uppercase;
    font-family: $font-display;
    font-size: $display-font-size-large;
    font-weight: $display-font-weight;
}

.header {
    font-weight: $display-font-weight;
}

/** UTILITIES **/

/** ANIMATIONS **/

@keyframes simpleRotate {
    100% {
        transform: rotate(360deg);
    }
}