/** banner **/
.banner {
    position: fixed;
    z-index: 100;

    display: flex;
    justify-content: center;

    width: 100%;
    transition: all .4s;

    //bottom: 0;
    top: 0;

    &__checkbox {
        display: none;
        &:checked + .banner {
            transition: all .4s;
            //bottom: 18rem;
            //bottom: 100vh;
            top: -100vh;

            @include respond(phone) {
                //bottom: 30rem;
                //bottom: 100vh;
                top: -100vh;
            }
        }
    }

    &__container {
        position: relative;
        bottom: 0;
        width: 100%;

        display: flex;
        flex-direction: column;

        background-color: $color-black;
        border: .3rem solid $color-primary-gold;
        padding: 1rem 1.5rem;

        overflow: hidden;
    }

    &__close {
        transition: all .4s;

        position: absolute;
        z-index: 3;

        align-self: flex-end;

        font-family: sans-serif;
        font-size: 2.4rem;


        &::after {
            transition: all .4s;
            content: "";
            position: absolute;
            border-radius: 50%;
            width: 0;
            height: 0;
            box-shadow: 0 0 10rem 5rem $color-primary-gold-medlight;
            opacity: 0;
            //margin-left: -25%;
        }

        &:hover {
            cursor: pointer;
            color: $color-primary-gold;

            &::after {
                opacity: 1;
            }
        }
    }

    &__content {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 1;

        &--set-to-column {
            flex-direction: column;
        }

        @include respond(tab-port) {
            flex-direction: column;
        }

        &--left {
            //flex-grow: 2;
            text-align: center;

            display: flex;
            flex-direction: column;
            align-items: center;

            @include respond(tab-port) {
                margin-bottom: 3rem;
            }
        }

        &--right {
            //flex-grow: 1;
            text-align: center;

            display: flex;
            flex-direction: column;
            align-items: center;

            margin-bottom: 1rem;

            &--cta-image {
                justify-content: center;
            }
        }
    }

    &__CTA {
        &--p {
            &--01 {
                font-family: $font-display;
                color: $color-primary-gold;
                font-size: 2.4rem;
                @include respond(phone) {
                    padding-top: 3rem;
                    line-height: 1;
                    padding-bottom: .5rem;
                }
            }
            &--04 {
                font-family: $font-display;
                color: $color-alert-red;
                font-size: 2rem;

                display: flex;
                flex-direction: column;
                align-items: center;
            }
            &--freebetty {
                color: $color-alert-red;
                font-family: $font-display;
                font-size: 2rem;
            }
        }

        &--image {
            //width: 100%;
            //max-width: 62rem;
            //max-width: 64.8rem;
            height: 80vh;
            max-height: 86.3rem;

            @include respond(phone) {
                max-width: 100%;
                height: auto;
                max-height: auto;
            }
        }
    }

    &__button {
        margin-top: 1rem;
    }

    &__background {
        position: absolute;
        width: 100%;
        bottom: -1.2rem;
        z-index: -1;

        display: flex;
        justify-content: end;

        &--img {
            width: 20%;
            transform: rotate(-15deg);
            opacity: .2;

            @include respond(phone) {
                width: 50%;
            }
        }
    }
}

/** tour banner **/
.tour-banner {
    z-index: 1;
    position: relative;

    //height: 7rem;
    height: 10rem;
    padding: .2rem;
    overflow: hidden;

    @include respond(phone) {
        height: 11rem !important;
    }

    &::before {
        content: '';
        position: absolute;
        top: -72vw;
        right: -26vw;
        height: 150vw;
        width: 150vw;
        @include rotatingBorderWithAnimation;
    }

    &__container {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: $color-black;
    }

    &__side {

        &--left {
            display: flex;
        }
    }

    &__text {
        &--text-01 {
            padding-right: .5rem;
            padding-top: .5rem;
        }

        &--text-02 {
            font-size: 2.5rem;
            font-family: $font-display;
            color: $color-primary-gold;
            transform: rotate(-7deg);

            @include respond(phone) {
                font-size: 2.2rem;
            }
        }
    }

    @include respond(tab-port) {
        height: 9.5rem;
        &__container {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

/** main nav **/

.nav-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-top: 2rem;

    &__logo {
        position: relative;
        z-index: 1;
        height: 12rem;
        filter: drop-shadow(0 .3rem 0 $color-grey-dark)
                drop-shadow(-.3rem 0 0 $color-grey-dark)
                drop-shadow(.3rem 0 0 $color-grey-dark);

        @include respond(phone) {
            transform: scale(.7) translateY(-2rem);
        }

    }

    &__bar {
        width: 100%;
        position: relative;
        top: -9rem;
        height: .8rem;
        @include gold-reflected-gradient
    }
}

.website-nav {
    transition: all .3s;
    &__checkbox {
        display: none;
        &:checked + label + .website-nav,
        &:checked + label + .website-nav::after,
        &:checked + label + .website-nav .website-nav__list {
            left: 0;
        }
        &:checked + label + .website-nav {
            z-index: 10;
        }
        &:checked + .website-nav__menu .website-nav__menu__bar {
            transform: rotate(45deg);
           &::after,
           &::before {
                width: 4rem;
           }
           &::after {
                transform: rotate(360deg);
                top: 0;
           }
           &::before {
                transform: rotate(-450deg);
                top: 0;
           }
        }
    }
    &__menu {
        position: fixed;
        left: 2rem;
        top: 1rem;
        z-index: 11;
        width: 4rem;
        height: 4rem;
        cursor: pointer;

        &__bar,
        &__bar::before,
        &__bar::after {
            transition: all .3s;
        }

        &__bar {
            position: absolute;
            top: 1rem;
            width: 4rem;
            height: .2rem;
            background-color: $color-primary-gold;
        }
        &__bar::before {
            content: "";
            position: absolute;
            top: 1rem;
            width: 3rem;
            height: .2rem;
            background-color: $color-primary-gold;
            transition-delay: .15s;
        }
        &__bar::after {
            content: "";
            position: absolute;
            top: 2rem;
            width: 2rem;
            height: .2rem;
            background-color: $color-primary-gold;
            transition-delay: .25s;
        }

        &:hover &__bar {
            transform: translateY(-.3rem);
        }
        &:hover &__bar::before {
            transform: translateY(-.3rem);
        }
        &:hover &__bar:after {
            transform: translateY(-.6rem);
        }
    }

    position: fixed;
    top: 0;
    left: -100%;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
        transition: all .8s;
        content: "";
        left: -200%;
        position: absolute;
        width: 220%;
        height: 100%;
        background: linear-gradient(100deg, black 50%, transparent 50%, transparent 0%);
    }

    &__list {
        transition: all .8s ease;
        position: relative;
        z-index: 1;
        list-style-type: none;
        left: -100%;
        &__item {
            transition: all .3s;
            margin-bottom: 2rem;
            &__link {
                font-family: $font-display;
                color: $color-primary-gold;
                text-decoration: none;
                font-size: $display-font-size-med;
            }
        }

        &__item:hover {
            @include hover-glow;
        }
    }
}

/** logo **/

.logo {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__description {
        display: flex;
        font-family: $font-display;
        line-height: 1;

        &--1 {
            text-align: right;
        }
        &--bar {
            background-color: $color-white;
        }
    }

    &__img,
    &__description {
        z-index: 2;
    }

    &__glow {
        position: absolute;
        z-index: 1;
        border-radius: 50%;
        width: 0;
        height: 0;
    }

    &__header {
        position: absolute;
        width: 72rem;
        height: 72rem;
        right: 0;
        top: 20vh;

        &__img {
            width: 55rem;
            margin-top: 4rem;
        }

        &__description {
            position: relative;
            font-size: 5.5rem;
            //margin-right: 3rem;
            margin-right: 18.5rem;
            //@include text-stroke(.15rem, $color-black); //this is acting weird...
            //@include alt-text-stroke(.15rem, $color-black);

            &--1 {
                height: 16.3rem;
                //width: 17.5rem;
                width: 18.9rem;
            }

            &--text {
                position: relative;
                height: 5.5rem;

                &--top,
                &--stroke {
                    position: absolute;
                }
                &--top {
                    z-index: 1;
                }
                &--stroke {
                    @include text-stroke(.4rem, $color-black);
                }

                &--1 {
                    display: flex;
                    justify-content: end;
                    text-align: right;

                    &--top,
                    &--stroke {
                        right: 0;
                        text-align: right;
                    }
                }
            }
            &--bar {
                width: .5rem;
                margin: 0 1rem;
                border: .15rem solid $color-black;
            }

            @include respond(phone){
                margin-right: 11.1rem;
                &--text {
                    height: 4.5rem;
                }
                &--1 {
                    //height: 4.5rem;
                    width: 11rem;
                }
                &--bar {
                    height: 13rem;
                }
            }
        }

        &__glow {
            box-shadow: 0 0 40rem 12rem $color-primary-gold;
        }

        @include respond(tab-land) {
            width: 60rem;
            height: 60rem;
            top: 50vh;

            &__img {
                width: 43rem;
            }

            &__description {
                font-size: 4.5rem;
            }

            &__borderbox {
                width: 30rem !important;
                height: 30rem !important;
            }
        }

        @include respond(tab-port) {
            display: flex;
            width: 100%;
            justify-content: center;
            top: 50vh;
        }
    }

    &__music {
        &__glow {
            box-shadow: 0 0 40rem 12rem $color-primary-gold;
        }
    }

    &__footer {
        width: 45rem;
        height: 45rem;

        &__img {
            width: 28rem;
            margin-top: 2rem;
        }

        &__description {
            font-size: 2.5rem;
            margin-right: 1.7rem;
            line-height: 1;
            @include text-stroke(.05rem, $color-black);

            &--bar {
                width: .2rem;
                margin: 0 .5rem;
            }
        }

        &__glow {
            box-shadow: 0 0 10rem 5rem $color-primary-gold;
        }

        &__borderbox {
            width: 19rem !important;
            height: 19rem !important;

            &--1,
            &--2 {
                &::after {
                    background-color: $color-grey-dark !important;
                }
            }
        }
    }

    &__footer,
    &__header {
        @include respond(phone-med) {
            width: 100%;
            height: 45rem;


            &__img {
                width: 25rem;
            }

            &__description {
                font-size: 3.2rem;
            }

            &__borderbox {
                width: 19.5rem !important;
                height: 19.5rem !important;
            }
        }

        @include respond(phone-small) {
            &__description {
                font-size: 2.9rem;
                margin-right: 1.7rem;
            }
            &__borderbox {
                width: 17rem !important;
                height: 17rem !important;
            }
        }
    }

}

/** border boxes **/
.borderbox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 38rem;
    height: 38rem;
    transform: rotate(45deg);

    &--1,
    &--2 {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: $color-primary-gold;

        &::after {
            content: "";
            position: relative;
            width: 98%;
            height: 98%;
            background-color: black;
        }
    }

    &--1 {
        width: 100%;
        height: 100%;
    }

    &--2 {
        width: 94%;
        height: 94%;
    }

}

//img borderbox

.img-borderbox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 60rem;
    height: 60rem;
    transform: rotate(45deg);

    @include respond(tab-land) {
        position: static;
    }

    &--1,
    &--2,
    &--3 {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &--1 {
        width: 100%;
        height: 100%;
        @include gold-reflected-gradient-notransparency
    }

    &--2 {
        width: 85%;
        height: 85%;
        background-color:$color-grey-dark;
    }

    &--3 {
        overflow: hidden;
        background-color: $color-black;
        width: 75%;
        height: 75%;
        border: .5rem solid $color-primary-gold;
    }

    &--imgholder {
        min-width: 145%;    //for some reason "width" wont work here
        height: 145%;
        transform: rotate(-45deg);
    }

}

.stream__img-borderbox {
    &--imgholder {
        background-color: $color-grey-dark;
    }
}

.contact__img-borderbox {
    &--2 {
        background-color: $color-black;
    }
}

/** angle edge skew boxes **/

.skewbox {
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: -40rem;

    &--1,
    &--2 {
        width: 100%;
        height: 40rem;
    }

    &-upward {
        top: -6rem;
        &--1 {
            transform: skewY(10deg);
        }

        &--2 {
            transform: skewY(-10deg);
        }

        &__about--1,
        &__about--2,
        &__stream--1,
        &__stream--2 {
            background-color: $color-grey-dark;
        }
    }

    &-upward__stream {
        top: -5vw;
    }

    &-downward {
        top: -7rem;
        &--1 {
            transform: skewY(-10deg);
        }

        &--2 {
            transform: skewY(10deg);
        }

        &__music--1,
        &__music--2 {
            background-color: $color-black;
        }
    }
}


/** links **/

.inline-link {
    display: inline-block;
    transition: all .4s;

    &::after {
        content: "";
        position: absolute;
        //z-index: 1;
        border-radius: 50%;
        //background-color: $color-primary-gold;
        width: 0;
        height: 0;
        box-shadow: 0 0 10rem 5rem $color-primary-gold;
        opacity: 0;
        margin-left: -25%;
    }

    &,
    &:visited,
    &:link {
        color: $color-primary-gold;
        font-family: $font-display;
        font-size: 1.9rem;
    }

    &:hover {
        transform: scale(1.2) rotate(-10deg);
        color: $color-primary-gold-medlight;
        &::after {
            opacity: 1;
        }
    }

    &:active {
        transform: scale(1) rotate(-10deg);
    }
}

/** header under line **/

.header-2 {
    position: relative;
    transform: rotate(-10deg) translateY(-15rem);
    margin-bottom: 2rem;
    &::before,
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        height: .4rem;
        width: 100%;
        background-color: $color-white;
    }
    &::after {
        bottom: 1rem;
    }

    @include respond (phone) {
        margin-left: 2rem;
    }
}
.music__header,
.contact__header,
.featured__header {
    &::after {
        left: -79%;
    }

    &::before {
        left: -82%;
    }
}

.music__header,
.contact__header,
.stream__header,
.featured__header {
    @include respond(phone) {
        line-height: 1;
        padding-bottom: 2rem;

        &::after {
            left: -17%;
        }
        &::before {
            left: -20%;
        }
    }
}

.stream__header {
    &::after {
        left: -17%;
    }

    &::before {
        left: -20%;
    }

    @include respond (phone) {
        margin-left: 2rem !important;
    }
}

/** lists **/

.list {
    list-style-type: none;
    transition: all .4s;

    &__svg {
        fill: url(#gradient-start) $color-primary-gold;
    }

    &__item {
       &:not(:last-child) {
           margin-bottom: .5rem;
       }
    }

    &__link {
        transition: all .4s;

        @include gold-reflected-gradient-notransparency;
        background-size: 100%;
        background-position: 0 0;
        text-decoration: none;
        @include background-clip;

        &,
        &:visited,
        &:link {
            color: $color-primary-gold;
            font-family: $font-display;
            text-transform: uppercase;
        }

        &:hover {
            background-position: 20rem 0;
        }
    }

    &__bullet,
    &__contact {
        &__link {
            font-size: $display-font-size-med;
        }
    }

    &__bullet {

        &__link::before {
            content: "";
            display: inline-block;
            width: 1.5rem;
            height: 1.5rem;
            background-color: $color-primary-gold;
            transform: rotate(45deg);
            margin-right: 2rem;
            margin-bottom: -.2rem;
        }

        margin-bottom: 2rem;

        &__featured {
            margin-top: -5rem;
        }
    }

    &__socialmedia {
        &__link {
            font-size: $display-font-size;
        }

        &__svg {
            margin-right: 1.5rem;
            width: 4rem;
            height: 4rem;
            margin-bottom: -1rem;

            &--soundcloud {
                width: 6rem;
                height: 6rem;
            }
            &--twitch {
                width: 4rem;
                height: 4rem;
            }
        }

        @include respond(phone-small) {
            &__stream {
                &__link {
                    font-size: 3.5rem;
                }
            }
        }
    }

    &__nav {
        width: 100%;
        display: flex;
        justify-content: center;


        &__item {
            &:not(:last-child) {
                margin-right: 5rem;
            }
        }

        &__svg {
            transition: all .3s;
            width: 2.8rem;
            height: 2.8rem;

            &:hover {
                transform: rotate(-10deg) scale(1.2);
            }
        }

        @include respond(phone-med) {
            &__item{
                &:not(:last-child) {
                    margin-right: 3rem;
                }
            }
        }

        &__footer {
            &__item {
                &:not(:last-child) {
                    margin-right: 2.3rem;
                }
            }
        }
    }

    &__nav-main {
        &__svg {
            width: 2rem;
            height: 2rem;
        }
    }

    &__contact {
        &__link {
            font-size: 3rem;
        }

        &__svg {
            width: 2.5rem;
            height: 2.5rem;
            margin-right: 1rem;
            margin-bottom: -.5rem;
        }

        @include respond (phone-med) {
            &__link {
                font-size: 2rem;
            }
        }
    }

}

/** button **/
.button {
    position: relative;
    transition: all 0.4s;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 13rem;
    height: 5rem;

    &,
    &:visited,
    &:link {
        color: $color-white;
        text-decoration: none;
        font-family: $font-display;
        text-transform: uppercase;
        font-size: 2rem;
    }

    @include gold-reflected-gradient-notransparency;
    background-position: right;
    background-size: 350%;
    padding: 1rem 1.5rem;

    &:hover,
    &:active {
        background-position: left;
    }

    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        width: 114%;
        height: 130%;

        border: 2px solid $color-primary-gold;
    }

    &--small {
        width: 10.5rem;
        height: 4.5rem;
    }



}



