/** grids **/

.container {
    display: grid;
    //10 columns for all pages
    //grid-template-rows: 10rem repeat(4, maxcontent) 20rem; 
    grid-template-rows: 10rem repeat(2, maxcontent) 20rem; 
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem,1fr) [full-end];
}

.nav-main,
.header,
.main,
.footer {
    grid-column: 1 / -1;
}

.nav-main {
    grid-row: 1;
}

.header {
    grid-row: 1 / 2;
}

.main {
    grid-row: 3;
}

.footer {
    grid-row: 4;
}

/** all sections **/ 
.main {
    position: relative;
    display: flex;
    flex-direction: column;
}
.main-section {
    &__container {
        position: relative;
        margin: 0 auto;
        max-width: 140rem !important;
        padding: 5rem;
    }
}

.section {
    &__header {
        position: relative;
        z-index: 1;
    }
}

/** header **/ 

.header {
    height: 110vh;
    background-color: $color-black;
    margin-bottom: -5vw;
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        background-image: url(../img/nikka-t_02.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: .4;
    }

    
}

/** about **/ 

.about {
    //position: relative;
    margin-bottom: 15rem;
    &__content {
        //position: absolute;
        //top: 0;
        display: flex;
        & > * {
            width: 100%;
        }
    }

    &__copy {
        margin-left: 5rem;
        margin-top: 5rem;
    }

    &__img {
        position: relative;
        left: -15rem;
        top: -5rem;
    }

    @include respond(tab-land) {
        &__content {
            flex-direction: column;
        }

        &__copy {
            order: -1;
            margin: 0  auto;
            position: relative;
            margin-bottom: 5rem;
            z-index: 2;
        }

        &__img {
            position: static;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            z-index: 1;
            transform: scale(.8);
        }
    }
}

/** music **/ 

.music {
    background-color: $color-black;
    padding-bottom: 20rem;

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;

        & > * {
            width: 100%;
        }

        &--1 {
            margin-right: 5rem;
        }

        &--2 {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            &__img {
                position: absolute;
                z-index: 2;
            }
        }
    }

    @include respond(tab-port) {
        &__header {
            margin-top: 5rem;
            margin-bottom: -2rem;
        }

        &__content {
            flex-wrap: wrap;

            &--1 {
                margin: 0 0 30rem 0;
            }

            &--2 {
                z-index: 1;
            }
        }

        &__list {

            &__bullet,
            &__socialmedia {
               width: 75%;
               margin-left: auto;
               margin-right: auto;
            }
        }
    }
}

/** stream **/ 

.stream {
    margin-bottom: 10rem;

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__img {
        position: absolute;
        left: 0;
        z-index: 1;
        margin-top: -18rem;
    }

    &__list {
        margin-top: 5rem;
        position: relative;
        z-index: 2;
    }

    &__header {
        text-align: center;
        margin-left: 50rem;
        margin-top: 8rem;
    }

    @include respond(tab-port) {

        &__img {
            transform: scale(.7);
            left: -15rem;
            margin-top: -15rem;
        }

        &__header {
            margin-left: 0;
            z-index: 2;
            margin-top: 15rem;
            margin-bottom: -5rem;
        }
    }
    
}

.stream-embed {
    position: relative;
    z-index: 2;
    width: 90%;
    max-width: 128rem;
    background-color: $color-black;
    &::after {
        content: "";
        display: block;
        padding-top: 50.625%;
    }
}

/** contact **/ 
.contact {
    background-color: $color-black;
    padding: 5rem 0;
    margin-bottom: 10rem;

    &__content {
        display: flex;
        justify-content: center;
        & > * {
            width: 100%;
        }
    }

    &__img {
        margin-top: -20rem;

        @include respond(tab-land) {
            transform: scale(.8);
            margin-top: -11rem;
            margin-right: -10rem;
        }
    }

    &__img-borderbox {
        width: 50rem;
        height: 50rem;

        &--imgholder {
            background-image: url(../img/nikka-t_01.jpg);
            opacity: .8;
        }
    }
}

/** footer **/ 
.footer {
    max-width: 140rem;
    margin: 0 auto;

    &__affiliates {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 5rem 0;
        &__img {
            max-width: 15rem;
            opacity: .4;
            align-self: center;
            margin: 2rem 2.5rem;
        }
    }
}

.logo {
    &__footer {
        position: relative;
        z-index: -1;
        margin: 0 auto;
        margin-top: -5rem;
    }
}



/** svg gradient holder **/ 

.svg-gradient {
    width: 0;
    height: 0;
}